$roboto-slab: "roboto slab";

@font-face {
  font-family: Lora;
  src: url(../fonts/Lora/static/Lora-Regular.ttf);
}
@font-face {
  font-family: minimal;
  src: url(../fonts/asap/static/Asap-Regular.ttf);
}

$light-black: #adadad;
$mid-black: #404040;
$dark-black: #0a0907;
$index: #fcba03;
$user-field-bgco: darken($index, 5);
$content-field-bgco: $index;
$form-button: darken($light-black, 10);
$form-button-border: darken($light-black, 30);
$form-label-color: $mid-black;

$border-radius: 5px;
$border-radius-small: 2px;

// for development
$border: 1px solid black;

$dark-brown: #1b0d01;
$light-brown: #765c38;
$dark-blue: #041738;
$yellow: #c09a67;
$blackk: #0a0907;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #707070;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;
}
::placeholder {
  opacity: 0.6;
}
::selection {
  background-color: $index;
}
