// for development
$border: 1px solid black;

@font-face {
  font-family: Lora;
  src: url(../fonts/Lora/static/Lora-Regular.ttf);
}
@font-face {
  font-family: minimal;
  src: url(../fonts/asap/static/Asap-Regular.ttf);
}
$navy-blue: #004080;
$dark-black: #292929;
$index: $navy-blue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #707070;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;
}
::placeholder {
  opacity: 0.6;
}
::selection {
  background-color: #84aad1;
}
